<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
        	<PatternLayout pattern="%d{DEFAULT} %-5level [%t] %c{1.} - %msg%n%ex"/>
<!--         	<PatternLayout pattern="%highlight{%d{DEFAULT} %-5level [%t] %c{1.} - %msg%n%ex}"/> -->
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>